@{
    ViewBag.Title = "Index";
}

<h2>Mes mots de passe</h2>

<table class="table">
    <thead>
        <tr>
            <th>Site</th>
            <th>Login</th>
            <th>Mot de passe</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
    </tbody>
</table>